.DS_Store
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
.cache/

data/external/
data/processed/
data/processed_*/

reports/**
!reports/
!reports/figures/
reports/figures/**
!reports/figures/.gitkeep

*.pyc
*.pyo
*.pyd
